.calculator{
    background-color:rgb(140, 136, 136);
    width:23vw;
    padding: 1%;
    border-radius: 5%;
    height:35vw;
}
.inputbox{
    width:22vw;
    font-size: 40px;
    border-radius: 20px;
    height:60px;
    background-color: rgb(98, 240, 219);
    padding-right: 5px;
    
}
.buttonsize{
    margin-top:145px;

}
.number{
    width:80px;
    height: 50px;
    border-radius: 15px;
    padding-left: 5px;
    font-size: 40px;
}
.operator{
    width:80px;
    height: 50px;
    border-radius: 15px;
    font-size: 40px;
}
.operator1{
    width:80px;
    height: 50px;
    border-radius: 15px;
    font-size: 40px;
    background-color: rgb(174, 150, 28);
}